<header>
  <div class="navbar">
    <nav>
      <a href="#!/landing"><img src="public/imgs/wwp3.png" alt="logo"></a>
      <a href="#!/landing">HOME</a>
      <a href="#!/userReg">REGISTRATION</a>
      <a href="#!/property">BUY PROPERTIES</a>
      <a href="#!/usersList">CUSTOMER LIST</a>
    </nav>
  </div>
</header>
<main ng-controller="UserController as ctrl">
  <h2>Customer registration</h2>
  <div class="formDiv">
    <form name="userReg" class="formClass" autocomplete="off">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Identification number:</label>
        <input name="id" ng-model="ctrl.id" required ng-minlength="1" ng-pattern="/^[0-9]{1,}$/">
        <div ng-messages="userReg.id.$error">
          <div ng-messages-include="public/components/include/messages.html"></div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Name:</label>
        <input name="name" ng-model="ctrl.name" required ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ]+$/">
        <div ng-messages="userReg.name.$error">
          <div ng-messages-include="public/components/include/messages.html"></div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Alias:</label>
        <input name="alias" ng-model="ctrl.alias" required ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ]+$/">
        <div ng-messages="userReg.alias.$error">
          <div ng-messages-include="public/components/include/messages.html"></div>
        </div>
      </md-input-container>
      <md-button ng-click="ctrl.save()" class="md-raised md-primary" ng-disabled="userReg.$invalid">Register</md-button>
      <p>* Dosen't register repeated data</p>
    </form>
  </div>
  <div class="tableDiv">
    <div class="row" id="table">
      <table class="col-sm-6 col-md-offset-2 table table-striped">
        <thead>
          <tr>
            <th>Id number</th>
            <th>Names</th>
            <th>Alias</th>
            <th>Money</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in ctrl.users track by $index">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.alias}}</td>
            <td>{{user.money}}</td>
            <td><img ng-src="{{user.photo}}" alt="Photo"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<div class="clearFix"></div>
