<header>
  <div class="headLine"></div>
</header>
<main>
<div class="logo">
  <div class="img">
    <img src="public/imgs/wwp.png" alt="wwp">
  </div>
  <div class="slogan">
    <h1>Priceless properties at the lowest price.</h1>
  </div>
</div>
<div class="ctaSect">
  <div class="cta1">
    <a href="#!/userReg"><input type="button" name="cta" value="NEW CUSTOMER"></a>
  </div>
  <div class="cta2">
    <a href="#!/property"><input type="button" name="cta" value="BUY PROPERTY"></a>
  </div>
</div>
</main>
